@model contacto

<form asp-controller="Contacto" asp-action="create">

<label asp-for="Firstname" class="control-label"></label>
<input asp-for="Firstname" class="form-control" />

<div class="form-group">
    <button type="submit" class="btn btn-primary"> registrar </button>
</div>

</form>